.top-menu {
    margin-top: 34px;
    vertical-align: bottom;
    &__tree-item {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        &:after {
            content: "|";
            margin: 0px 10px 0px 10px;
        }
        &:last-child {
            &:after {
                content: initial;
            }
        }
    }
}